.signup
{
    background-color: rgb(39, 39, 177);
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
form
{
    background-color: lightblue;
    height: 65%;
    width: 30%;
    gap: 1rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}